body{
	background-color: #a9a9a9;
}

.blok{
	background-color: white;
	width: 600px;
	margin: 0 auto;
	
}

.clean-link{
	color: black;
	text-decoration: none;

}
.clean-link:hover {
 	color: lightblue; 
}

a{
	margin-left: 10px ;
}

.nav{
	background-color: red;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.content{
	margin: 30px;
	margin-top: 15px ;
}

label{
	display: inline;
}
.input{
	display: block;
	float: right;
	width: 200px;
}

.fields{
	margin-bottom: 25px;
}

.submit{
	margin-left: 375px;
	margin-top: 15px;
	margin-bottom: 10px;
}

h2{
	margin-top: 15px;
	margin-left: 30px;
	margin-bottom: 0px;
}

h1{
	margin: 0 auto;
	width: 600px;
	font-size: 80px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: white;
}

.footer{

	background-color: black;
	text-align: center;
	height: 30px;
}

.foottext{
	padding-top: 5px;
	color: white;
}